		<nav id="app-nav">
			<em>DAN NORTON</em>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/cv">Resume</a></li>
			</ul>
		</nav>
		<div id="app-wrapper">
			<div id="app-root"></div>
			<router-view></router-view>
		<div>
		<script type="text/javascript" src="/app.bundle.js"></script>
