<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <style>{{css}}</style>
    <script type="text/javascript">
      window.palette = {{{script}}};
      // console.log(window.palette);
    </script>
    <script src="https://use.fontawesome.com/e93028ed0a.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="frame_wrap">
      <div class="palette">
        <ul>
          <li class="swatch vibrant_bg_solid"></li>
          <li class="swatch muted_bg_solid"></li>
          <li class="swatch darkvibrant_bg_solid"></li>
          <li class="swatch darkmuted_bg_solid"></li>
          <li class="swatch lightvibrant_bg_solid"></li>
          <li class="swatch lightmuted_bg_solid"></li>
        </ul>
      </div>
      <!-- <div class="fs_img"></div> -->
    </div>
    {{{body}}}
  </body>
</html>
