<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <style>{{css}}</style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="frame_wrap">
      <div class="palette">
        <ul>
          <li class="vibrant_bg_solid"></li>
          <li class="muted_bg_solid"></li>
          <li class="darkvibrant_bg_solid"></li>
          <li class="darkmuted_bg_solid"></li>
          <li class="lightvibrant_bg_solid"></li>
          <li class="lightmuted_bg_solid"></li>
        </ul>
      </div>
      <!-- <div class="fs_img"></div> -->
    </div>
    {{{body}}}
  </body>
</html>
