@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Serif+Pro');

body {
  padding: 0px;
  margin: 0px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a, em.hide, em.show {
  text-decoration: none;
  display: inline-block;
  transition: all .3s;
  padding: .3rem;
}
header{
  width: 98%;
  height: 20px;
  display: block;
  background: #fff;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /*text-align: center;*/
  padding: 15px;
  /*cursor: pointer;*/
}
header em img{
  height: 30px;
  margin-right: 10px;
  margin-top: -15px;
  /*margin-left:-30px;*/
  display: inline-block;
  position: relative;
  top: 10px;
}
header i{
  display: none !important;
  float: left;
  font-size: 1.2rem !important;
}
nav{
	/*width: 100%;
	/*height: 100%;*/
	/*display: block;
  background:#fff;
  border-bottom: 1px solid #000;
	position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  text-align: center;*/
}
p, li{
  font-family: 'Source Serif Pro';
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 100%;
}
div.palette{
  width: 5px;
  height: 100%;
  display: block;
  position: fixed;
  top: 0px;
  /*margin-left: -5px;*/
}
div.palette ul li{
  width: 5px;
  height: 16.66666%;
  display: block;
  transition: all .8s ease-out;
}
div.palette ul li.expand{
  width: 10px;
}
.fs_img{
  opacity:.2;
  margin-top:-80px; 
}
nav ul{
	display: flex;
	flex-direction: column;
  position: fixed;
  z-index: 80;
  background: #000;
  transition: all .5s;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translateY(-102%);
  background-color: rgba(0,0,0, .8);
  opacity: 0;
}
nav ul.active{
  /*max-height: 60px;*/
  opacity: 1;
  transform: translateY(-6%);
}
#app-wrapper{
  padding: 0 15px;
  position: relative;
  margin: 80px auto 0px auto;
  width: 85%;
}
nav em{
  display: inline-block;
  margin: 0px auto;
  position: relative;
  padding: 1rem;
}

nav ul a{
  height: 16%;
  padding: 2%; 
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 1px dotted;
  letter-spacing: 2px;
}
.frame_wrap{
  padding: 5rem;
}
p{
  line-height: 1.8rem;
}
.welcome.home h1{
  animation: unblur 1s;
  font-size: 4.5rem;
  font-style: italic;
  letter-spacing: 3px;
}
#project-detail{
  position: fixed;
  z-index: 200;
  color: #fff;
  background-color: rgba(0,0,0,.9);
  width: 100%;
  height: 100%;
  display: block;
  top:0;
  left: 0;
  overflow-y: scroll;
}
#project-detail i.fa-close{
  float: right;
  font-size: 1.5rem;
  padding: 1.25%
}
#project-detail .next-slide, #project-detail .previous-slide{
  font-size: 3rem;
  padding: 1.25%;
  opacity: .8;
  transition: .4s all;
}
#project-detail .next-slide:hover, #project-detail .previous-slide:hover{
  cursor: pointer;
  opacity: 1;
}
#project-detail .arrow-wrap{
  width: 100%;
  position: absolute;
  top:45%;
} 
#project-detail .next-slide{
  float: right;
}
#project-detail .previous-slide{
  float: left;
}
.detail-image{
  padding-top: 2.5%;
  text-align: center;
}
.detail-image p{
  text-align: left;
}
#project-detail img{
  margin: 0px auto;
  max-height: 75%;
  max-width: 80%;
}
#project-detail p{
  margin: 5px auto;
  max-width: 80%;
}
.project-list i.fa-close{
  position: fixed;
  z-index: 3000;
  font-size: 1.5rem;
  padding: 1.25%;
  color: #fff;
  float: right;
  right: 0px;
  top: 0px;
}
.project-list i.fa-close:hover{
  cursor: pointer;
}
.project-holder em.show, .project-holder em.hide{
  color: #fff;
  cursor: pointer;
  margin-bottom: .3rem;
}
.project-holder img{
  max-width: 100%;
  display: block;
  /*filter: grayscale(100);*/
  transition: all .3s;
}
.project-holder img:hover{
  cursor: pointer;
  /*filter: grayscale(0);*/
}
.project-holder h2{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding: .8rem;
}
.project-holder em.position{
  padding: .8rem;
}
.project-holder .hide{
  display: none;
}
hr{
  border: none;
  height: 1px;
  margin: 2rem 0;
  clear: both;
  display: block;
}
ul.project-slides{
  height: 0;
  opacity: 0;
  transition: all .3s;
  overflow: hidden;
  margin-bottom: 2rem;
}
ul.project-slides.active{
  height: auto;
  opacity: 1;
}
ul.project-slides li{
  width: 20%;
  height: 220px;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 2.5%;
  color: #fff;
}
ul.project-slides li:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,.5);
}
ul.project-slides li strong{
  margin-top: 10px;
  display: inline-block;
}
.position h2{
  margin: .5em 0;
}

.position h2 em{
  font-weight: 100;
  font-size: 1rem;
  position: relative;
  /* top: -1px; */
  left: 5px; 
}
.position h2 small, .position h3 small{
  float: right;
}
.position h3 em{
  font-weight: 100;
}
.welcome{
  animation: unblur .3s;
}
.welcome.home p{
  font-size: 1.5rem;
}
.welcome h2.darkvibrant_bg_solid{
  color: #fff;
  padding: 2.5%;
  display: inline-block;
}
.achievements-list{
  border-left: 2.5px solid;
  padding: 1rem 2rem;
}
.achievements-list ul li{
  font-size: .75rem;
  padding-right: 1rem;
}
.achievements-list ul li::before{
  font-family: 'FontAwesome';
  content:'\f0da';
  padding-right:10px;
}
.achievements-list ul li.header{
  font-size: .85rem;
}
.achievements-list ul li.header::before{
  font-family: 'FontAwesome';
  content:'';
  padding-right:0px;
}
.position.technical ul{
  vertical-align: text-top;
  width: 48%;
  display: inline-block;
}
/* TRANSITIONS */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
.blur-enter-active, .blur-leave-active {
  transition: all .5s
  margin-left:20px;
}
.blur-enter, .blur-leave-to /* .fade-leave-active below version 2.1.8 */ {
  -webkit-filter: blur(6px);
  filter: blur(6px);
  margin-left: 0;
}
nav ul a:hover li::before{
  font-family: 'FontAwesome';
  content:'\f0da';
  color: #fff;
  padding-right:10px;
  animation: right-flash 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  position: relative;
}
nav ul a:hover li::after{
  font-family: 'FontAwesome';
  content:'\f0d9';
  color: #fff;
  padding-left:10px;
  animation: left-flash 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  position: relative;
}
nav.mobile{
  display: none;
}
ul.desktop{
  float: right;
}
ul.desktop a li{
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: smaller;
  letter-spacing: 2px;
}
ul.desktop a.active{
  border-bottom: 1px dotted;
}
@media screen and (max-width:600px){
  nav.mobile{
    display: block;
  }
  header{
    text-align: center;
  }
  header:hover{
    cursor: pointer;
  }
  ul.desktop{
    display: none;
  }
  header i{
    display: inline-block !important;
  }
  header em img{
    margin-left: -30px;
  }
  .position h2 small, .position h3 small{
    display: block;
    float: none;
    margin-top: 10px;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes right-flash {
  0% {left:-10px; }
  50% {left:-20px; }
  100% {left:-10px; }
}
@keyframes right-flash {
  0% {left:-10px; }
  50% {left:-20px; }
  100% {left:-10px; }
}

@-webkit-keyframes left-flash {
  0% {right:-10px; }
  50% {right:-20px; }
  100% {right:-10px; }
}
@keyframes left-flash {
  0% {right:-10px; }
  50% {right:-20px; }
  100% {right:-10px; }
}


@-webkit-keyframes unblur {
    from {-webkit-filter: blur(6px);}
    to {-webkit-filter: blur(0px);}
} 

/* Standard syntax */ 
@keyframes unblur {
    from {filter: blur(6px);}
    to {filter: blur(0px);}
}


